
.front .main-container {
	/*padding: 20px 0;*/
	}

/*main menu*/
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus {
	color: #428bca;
}
.dropdown-menu>.active>a:hover {
	color: #fff;
}


body.peta-node {
	padding-top: 0 !important;
}


/*map*/
/*.page-node-51 .main-container.container,*/
.google-map.main-container.container {
  height: 100%;
  padding: 0;
  margin: 0;
  width: 100%;
}
.google-map .row, .google-map .col-md-12, .google-map .col-md-9, .google-map #content-inner,
.google-map #map-canvas {
	height: 100%;
	padding: 0;
}

/*diplay uploaded foto */
.field-name-field-foto.field-type-image .field-item img {
	width: 100%;
	height: auto;
	margin: 10px;
}
