body.navbar-is-fixed-top,
body.admin-menu.navbar-is-fixed-top { padding-top: 52px !important; }

body { padding: 0; overflow-x: hidden; }

.navbar .btn { 
  background: none repeat scroll 0 0 #e1e1e1; border: 0 none; border-radius: 0; float: right; height: 52px; line-height: 52px; padding: 0 15px; }

.logo { display: block; line-height: 52px; position: relative; z-index: 3; }
.logo img { height: 49px; }

.header { position: relative; }
#block-system-user-menu { background: none repeat scroll 0 0 rgba(0, 0, 0, 0.25); position: absolute; right: 0; top: 52px; }
#block-system-user-menu .menu a { color: white; }
#block-system-user-menu .menu a { background: transparent; text-decoration: underline; }

.views-row h2 a { color: black; }

@media(max-width: 769px) {

#block-system-user-menu { top: 0; }

}

.navbar #main-nav li a { line-height: 52px; height: 52px; padding: 0 15px; }
.navbar #main-nav li a a { display: none; }
.navbar #main-nav li a:hover,
.navbar #main-nav li:hover a { background: #ccc; }
.navbar #main-nav li:hover li a { background: #fff; }
.navbar #main-nav li:hover li a:hover { background: #999; }

.navbar #main-nav .dropdown-menu { display: none; }
.navbar #main-nav .open .dropdown-menu { display: block; }

.block-commerce-cart .dropdown-menu { left: auto; right: 0px; top: 52px; padding: 10px; }

.front .main-container { 
    /*padding: 60px 0; */
}
.not-front .main-container { padding: 60px 0 100px; }

.more-link { text-align: center; }

#luxe-login { float: left; width: 45%; }
#luxe-login-register { float: right; width: 45%; }

footer.footer { background: black; margin: 0; }

@media(max-width: 769px) {

.block-commerce-cart .btn { position: absolute; right: 0px; bottom: auto; top: -52px; }
.navbar-default .navbar-toggle { position: absolute; right: 100px; }

#main-nav { padding: 0; }
#main-nav ul { margin: 0; }

.block-commerce-cart .dropdown-menu { top: 0; }

#luxe-login { float: left; width: 100%; }
#luxe-login-register { float: left; width: 100%; }

}

.page-articulos .view-vista-de-articulos .views-row { margin: 0 0 15px; padding: 0 0 15px; border-bottom: 1px solid #ccc; }

#block-menu-menu-menu-footer { margin: 0 0 25px; }
#block-menu-menu-menu-footer .menu { text-align: center; }
#block-menu-menu-menu-footer .menu li { display: inline; }
#block-menu-menu-menu-footer .menu li a { color: white; display: inline-block; }
#block-menu-menu-menu-footer .menu li a:hover { background: transparent; text-decoration: underline; }

#block-block-1 { text-align: center; color: white; }
#block-block-1 a { color: white; }

#block-devel-execute-php { clear: both; }

.block-facetapi input[type=checkbox] { margin-right: 5px; }

/* SLIDER */
#layerslider h2{
	background: rgba(0,0,0,.5);
	border-radius: 0; 
	font-size: 24px; }
#layerslider div.ls-l {
    color: white;
    font-size: 24px;
    left: 120px; 
    top: 200px;
    white-space: nowrap; }
#layerslider a.ls-l {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.25);
    color: white;
    display: inline-block;
    left: 120px;
    padding: 5px;
    top: 254px;
    white-space: nowrap; }

#commerce-addressbook-billing-default .views-row { background: rgba(0,0,0,.15); padding: 15px; }

.page-user-addressbook .addressfield-container-inline .name-block { font-weight: 700;
font-size: 20px;
border-bottom: 1px solid #ccc;
margin-bottom: 10px;
overflow: hidden; }

.page-user-addressbook #commerce-addressbook-billing-list td .views-field address { border: 1px solid #ccc; padding: 10px; }
